html{
    font-size: 1em;
}

html, body {
    color: #111;
    padding: 0;
    margin: 0;
    background: #B2B6BF;
    font-family: Arial, Lucida, sans-serif;
}

body {
    font-size: .85em;
    margin:10px;
}

form { margin:0; padding:0;}

div {margin:0; padding:0}

img {border:none}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

a:link, a:visited{color: #005FA9;}

a:hover {color:#000000}

a:active {color:#555555}

p {padding:.5em 1em; margin:0; font-size:1em;}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, sans-serif, Helvetica, Lucida;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color:#ff0000;
}

h1{font: bold 1.5em sans-serif;margin-bottom: 4px; padding-top:4px;}

h2{font: bold 1.2em sans-serif;margin-top: 4px;margin-bottom: 2px;margin-left: 0px;}

h3{font: bold 1em sans-serif;margin-top: 0px;margin-bottom: 4px;margin-left: 0px;}

h4{font: normal .9em sans-serif;color: #666666;margin-top: 0;margin-bottom: 0;text-transform: uppercase;}

h5{font: italic 10px sans-serif;margin-top: 0px;margin-bottom: 0;margin-left: 4px;}

h6{font: bold 1em sans-serif;color: #000000;}

.smalltext{
    font: .75em Arial, sans-serif, Helvetica, Lucida;
    padding: 0 1em;
}

/*------------MAIN CONTENT------------*/
#container {
    margin:10px 0px;
    background:#fff;
}

#content {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 0;
}

/*------------FOOTER------------*/
hr.spacer {visibility:hidden; padding:1em 0 0 0; clear:left; margin:0}
hr.spacer_hidden {visibility:hidden; padding:0px 0 0 0; clear:left; margin:0}

#footer {
    background: #fff;
    clear: both;
    margin-top: 10px;
    margin-bottom: .5em;
    color: #888;
    padding: 1.5em 0px 1em;
    text-align: center;
}

#footer ul#footer-menu {position: relative;top: -0.8em;margin: 0 1em 0 1em;padding: 0;list-style-type: none;}
#footer ul#footer-menu li {display: inline;margin: 0 1em;font-size:.85em;}
#footer ul#footer-menu li a {margin: 0 1em;white-space: nowrap;}
#footer p {margin: 0; padding:0;}
.small-print {font-size: 80%;color: #888;}
.small-print a:link,.small-print a:visited {color: #666;}
.small-print a:hover,.small-print a:active {color: #333;}

/* --- HEADER ---------- */

#header {
    position: relative;
    background: #fff;
    padding:0;
}

.branding-logo {
    width: 250px;
    float: left;
    margin: 1em 0;
}
.branding-title {
    width:450px;
    float: left;
    margin: 1em 0 1em 1em;
}

@media (max-width:770px) {
    #branding {
        text-align: center;
    }
    .branding-logo {
        float: none;
    }
    .branding-title {
        width:auto;
        float: none;
        margin: 0.5em;
    }
    .small-screen {
        display: none;
    }
}

#header,
#container,
#footer {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* Navigations */

div#nav {font-size: 1em;font-weight:bold;clear:both;position:relative;z-index:100;width: 100%;margin:3px 0 0px 0px;background:#fff;}
#navlist, #nav ul {padding: 0;margin: 0;list-style: none;}
#navlist {background:url('/OpenGL-Refpages/inc/img/nav_bg_long.gif') bottom;height:31px;}
#nav ul ul {margin:0}
#navlist a {display: block;margin:0 0;padding:.6em 1em 0.3em 1em;text-decoration:none;color:#000;font-weight:normal;font-family: Arial, Geneva, Helvetica, sans-serif;}
#navlist ul li a {font-size:10px;}
#navlist li {padding: 0;margin: 0;float: left;
/* width:10em; width needed or else Opera goes nuts */
}
#navlist li {background: url('/OpenGL-Refpages/inc/img/nav_divider.gif') bottom right no-repeat;}
#navlist li li {background:none}
#navlist li ul {position: absolute;background: #faa;width: 169px;margin-top:0px;left: -999em;z-index:10;border-bottom:1px solid #111;}
#navlist li ul li a {text-transform:none;margin:0;padding:.3em 7px .3em;width:155px;line-height:1.4em;font-variant:normal;font-size:.9em;font-style:normal;font-weight:normal;border-bottom:0px solid #a00;}
#nav li li.indent {text-indent:10px;}
#navlist li ul li.indent a {width:18.7em;}
#navlist li:hover ul, div#nav li.sfhover ul {left: auto;}
#navlist a:hover {background:#a00;color:#ffffff;}

